body {
    background-color: #f0f0f0;
    font-family: 'Merriweather Sans', sans-serif;
    color: #333;
    margin: 0;
    text-align: center;
}

.hero-container {
    background-color: rgb(0, 214, 179);
    padding: 50px 20px;
    color: rgb(13, 144, 97);
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hero-container h1 {
    font-family: 'Sacramento', cursive;
    font-size: 3em;
    margin: 0;
}

.hero-container h2 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.5em;
    margin: 0;
    margin-top: 10px;
}

.content-container {
    margin: 100px 0;
}

.profile {
    display: block;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile h2 {
    display: block;
    font-size: 2em;
    color: rgb(13, 144, 97);
    margin-top: 20px;
    font-weight: normal;
}

.intro {
    display: block;
    width: 30%;
    margin: 0 auto;
    font-size: 1em;
    color: #555;
    margin-top: 10px;
    line-height: 1.6;
}

hr {
    width: 5%;
    margin: 20px auto;
    border: 0;
    border-top: 1px dashed #ccc;
}

.skills {
    display: block;
}

.skills h2 {
    display: block;
    font-size: 2em;
    color: rgb(13, 144, 97);
    padding-bottom: 10px;
    font-weight: normal;
}

.parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}

.typing {
    display: block;
}

.programming {
    display: block;
}

.programming h3 {
    color: rgb(13, 144, 97);
}

.programming p {
    line-height: 25px;
}

.hobby {
    display: block;
}

.hobby img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    margin-left: 30px;
}

.scrabbles {
    display: block;
}

.scrabbles h3 {
    color: rgb(13, 144, 97);
}

.scrabbles p {
    line-height: 25px;
}

.contact-me {
    display: block;
    margin-top: 50px;
}

.contact-me h2 {
    font-size: 2em;
    color: rgb(13, 144, 97);
    padding-bottom: 20px;
    font-weight: normal;
}

.contact-me h3 {
    font-size: 1.2em;
    color: rgb(13, 144, 97);
}

.contact-info {
    width: 40%;
    margin: 40px auto 60px auto;
    line-height: 1.6;
}

.btn {
    background-color: rgb(0, 214, 179);
    color: rgb(13, 144, 97);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(0, 180, 150);
    color: #fff;
}

.footer {
    background-color: rgb(0, 214, 179);
    padding: 50px 0 20px;
}

.footer-link {
    color: rgb(13, 144, 97);
    text-decoration: none;
    margin: 10px 20px;
}

.footer-link:hover {
    color: #fff;
}

.footer p {
    color: #fff;
    font-size: 0.75rem;
    padding: 20px 0;
}

.heart {
    color: red;
}